:root {
    --main-bg-color: rgba(13, 7, 7, 0.9);
    --secondary-bg-color: #301c09;
    --tertiary-bg-color: rgba(71, 71, 71, 0.8);
    --main-text-color: #f4e5db;
    --gap-width: 0.5rem;
    --font-size1: 0.8rem;
    --font-size2: 1rem;
    --font-size3: 1.2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    color: var(--main-text-color);
}

body {
    background-color: var(--main-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template: 1fr repeat(3, 2fr) 1fr / repeat(12, 1fr);
    /*shorthand for grid rows and columns*/
    height: 100vh;
}

/*different backgrounds for different pages*/

body#index {
    background-image: url("../img/bg_plated_food.jpg");
}

body#lunch {
    background-image: url("../img/bg_lunch.jpg");
}

body#menu {
    background-image: url("../img/bg_fire.jpg");
}

body#reservations {
    background-image: url("../img/bg-ambience.jpg");
}

/* General content & container styling */
p,
span {
    font-family: "Quicksand", sans-serif;
    line-height: 1.7;
    margin-bottom: var(--gap-width);
}

a {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    line-height: 1.7;
}

button {
    background-color: var(--secondary-bg-color);
    padding: var(--gap-width);
    border-radius: var(--gap-width);
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
    font-size: var(--font-size2);
    margin: calc(var(--gap-width) * 3) 0;
    transition: transform 0.2s ease-in-out;
}

button:active {
    transform: scale(0.95);
}

h1,
h2,
h3,
h4 {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
}

.main-box {
    padding: calc(var(--gap-width)*3) calc(var(--gap-width) * 5);
    padding-bottom: calc(var(--gap-width) * 10);
    grid-column: 8 / -2;
    grid-row: 1 / -1;
    background-color: var(--main-bg-color);
    overflow: scroll;
    scrollbar-width: none;
}


main h2 {
    margin-top: calc(var(--gap-width) * 10);
    letter-spacing: 0.2rem;
}

main h3 {
    margin-top: calc(var(--gap-width) * 5);
    margin-bottom: 0;
    line-height: 2;
}

main h4 {
    margin-top: calc(var(--gap-width) * 3);
    margin-bottom: 0;
}

main p {
    margin-top: calc(var(--gap-width) * 2);
}


/* NAV BAR */
#top-header {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    height: 50%;
    /*of the grid row, which is 1fr*/
    align-self: end;
    border-radius: var(--gap-width);
    font-size: var(--font-size3);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}

#nav-list li {
    display: block;
    font-family: "Quicksand", sans-serif;
    padding: var(--gap-width)
}

#nav-list li.active {
    background-color: var(--tertiary-bg-color);
    border-radius: var(--gap-width);
}

#logo-link {
    font-size: 2rem;
    font-family: "Special Elite", serif;
    margin-left: var(--gap-width);
    padding-top: 2%;
}

/* BIG PAGE TITLE */
#title {
    grid-row: -3 / span 1;
    grid-column: 2 / 7;
    align-self: end;
    letter-spacing: 1rem;
}

#title h1 {
    font-size: 10rem;
    line-height: 7rem;
    filter: drop-shadow(2px 2px var(--main-bg-color));
}

/*footer*/
footer {
    grid-column: 1 / -1;
    grid-row: -1 / -2;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    height: 100%;
    padding: 1rem;
    padding-left: calc(100vw / 12);
    background-image: linear-gradient(rgba(255, 255, 255, 0), var(--main-bg-color));
}

/*Pace specific css for INDEX */
aside {
    background-color: var(--main-bg-color);
    margin: var(--gap-width) 0;
    border-radius: var(--gap-width);
    padding: calc(var(--gap-width)*3) calc(var(--gap-width) * 5);
}

aside h2 {
    margin-top: calc(var(--gap-width) * 2);
    margin-bottom: calc(var(--gap-width) * 2);
    letter-spacing: 0.2rem;
}

#about-us-main {
    grid-column: 8 / -2;
    grid-row: 3 / -1;
    overflow: scroll;
    scrollbar-width: none;
}

#menu-main {
    grid-column: 8 / -2;
    grid-row: 1 /3;
    display: flex;
    flex-direction: column;
    background-position: center bottom;
    background-image: url("../img/burger.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: calc(var(--gap-width) * 2);
}

.logo {
    font-family: "Special Elite", serif;
    letter-spacing: 0.10rem;
    font-weight: 400;
}

/*Page specific css for LUNCH: */
#detailed-lunch-info {
    font-style: italic;
}

/*Pace specific css for MENU */

/* Added a grid for each dish item to keep the information in order */
.dish-article {
    padding-bottom: calc(var(--gap-width) * 3);
    display: grid;
    grid-template-areas:
        "a a a b"
        "c c c c"
        "d d d d"
        "e e e e"
        "f f f f"
}

/* > = child combinator, targets only the second elements that are direct children of the first */

/*heading*/
.dish-article>h4:nth-of-type(1) {
    grid-area: a;
    display: inline-block;
}

/*add to cart-symbol*/
.dish-article>h4:nth-of-type(2) {
    grid-area: b;
    display: inline-block;
    text-align: right;
}

/*dish description in cart*/
.dish-article>p:nth-of-type(1) {
    grid-area: c;
}

.dish-article>p:nth-of-type(2) {
    grid-area: d;
    margin-top: 0;
}

/*Dietary requirements*/
.dish-info {
    font-size: var(--font-size1);
    padding: 0;
    margin: 0;
    font-style: italic;
    grid-area: d;
    width: 100%;
}

/*allergens*/
p.dish-info:nth-of-type(2) {
    grid-area: e;
}

/*buttons for filtering menu items*/
#buttonbox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#starters-button,
#main-button,
#dessert-button {
    width: 27%;
    cursor: pointer;
}

#shopping-button {
    width: 2rem;
}

.fa-cart-plus:active {
    transform: scale(1.1);
}

/* all icons I've used from font-awesome have this class. Carts and wastebins.*/
.fa-solid {
    cursor: pointer;
}

/*Page specific css for RESERVATIONS: */
#res-inq-form {
    width: 100%;
    font-family: "Quicksand", sans-serif;
}

#name,
#email,
#phone,
#free_text {
    width: 100%;
    display: block;
    border-radius: var(--gap-width);
    background-color: var(--main-text-color);
    color: var(--secondary-bg-color);
    padding-left: var(--gap-width);
    font-family: "Quicksand", sans-serif;
    margin-top: var(--gap-width);
    margin-bottom: calc(3 * var(--gap-width));
}

input:focus,
#free_text:focus {
    outline: solid var(--secondary-bg-color);
}

#free_text {
    height: 6rem;
    padding: var(--gap-width);
    resize: none;
}

#name,
#email,
#phone {
    height: 2rem;
}

#error-box {
    text-align: center;
}

#error-box ul {
    font-family: "Quicksand", sans-serif;
    width: 90%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    list-style: none;
}

#error-box ul li {
    text-decoration: none;
    font-weight: normal;
}

@media only screen and (max-width: 1100px) {
    body {
        grid-template: 8rem 6rem 1fr/2fr 4fr 2fr;
        min-height: 100vh;
        background-attachment: fixed;
    }


    #top-header {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        position: sticky;
        top: 0;
        min-width: 380px;
        height: 50%;
    }

    #nav-list li {
        padding: 0 var(--gap-width)
    }

    footer {
        display: none;
    }

    #title {
        grid-column: 2/ span 1;
        grid-row: 1 / span 1;
        margin-top: 5rem;
    }

    #title h1 {
        font-size: 6rem;
        line-height: 3rem;
    }


    .main-box {
        grid-column: 2/ span 1;
        grid-row: 3 / span 1;
        overflow: visible;
        margin: var(--gap-width) 0;
        border-radius: var(--gap-width);
        padding: calc(var(--gap-width)*3) calc(var(--gap-width) * 5);
    }

    .main-box h2 {
        margin-top: 2rem;
    }


    /*only for index.html */
    #about-us-main {
        grid-column: 2/ span 1;
        grid-row: 3 / span 1;
        overflow: visible;
    }

    #menu-main {
        display: none;
    }
}

@media only screen and (max-width: 750px) {

    body {
        grid-template: 8rem 6rem 1fr/1fr 7fr 1fr;
        min-height: 100vh;
    }
}

@media only screen and (max-width: 550px) {

    body {
        grid-template: 8rem 6rem 1fr/0.5fr 6fr 0.5fr;
        min-height: 100vh;
    }
}